/* 
 File: sitemap.css
 Created Date: Friday August 26th 2022
 -----
 Author: Hetp
 Contact me: hetp0409@icloud.com
*/ 

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Mono';
    src: url('https://github.com/Hetp05/Personal-Asserts/raw/main/fonts/SF-Mono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

body {
    padding-top: 30px;
    background-color: #eaf2fa;
}

.sitemap-link {
    /* padding-left: 50%;
    padding-right: 50%; */
    font-family: 'SF Mono';
    color: #06c;
}

strong {
    color: black;
}

code {
    font-family: 'SF Mono';
    color: black;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.version-link {
    color: black;
    text-decoration: none;
}

.version-dev {
    font-family: 'SF Pro Display';
}