/* 
 File: bushy-leaves.css
 Created Date: Sunday June 4th 2023
 -----
 Author: Het
 Contact me: hetp0409@icloud.com
*/ 

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
}

h1, h2 {
  font-family: 'SF Pro Rounded';
}

body {
  background-color: rgba(93, 209, 126, 0.5);
}

img {
  border-radius: 20px;
  height: 65%;
  width: 65%;
}

p {
  font-family: 'SF Pro Display';
}

.download {
  color: white;
  font-family: 'SF Pro Display';
  background-color: #0a84ff;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.screenshot {
  height: 65%;
  width: 65%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
