@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/Hetp05/Personal-Asserts/blob/main/SF-Pro.otf') format('Opentype');
}

/*body */

hr.solid {
    border-top: 3px solid #bbb;
    margin-top: 25px;
}

.img-nft {
    height: 150px;
    width: 150px;
    display: flex;
    margin-top: 25px;
}

h1, h2 {
    font-family: 'SF Pro Rounded';
}

p {
    font-family: 'SF Pro Display';
    color: black;
}

.get-button {
    border-radius: 14px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: 'SF Pro Display';
    color: #FFFFFF;
    /* background: #4476D6; */
    background-color: rgb(49, 167, 196);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.p-titile {
    font-size: 20px;
    font-family: 'SF Pro Display';
    /* color: #FFFFFF; */
}

details {
    font-family: 'SF Pro Display';
    padding-bottom: 25px;
    /* color: #FFFFFF; */
}

body {
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #12181B ; */

}

footer {
    margin-top: 10px;
    /* background-color: #bbb; */
    font-family: 'SF Pro Display';
    color: #FFFFFF;
}

a {
    padding-top: 5px;
    text-decoration: none;
    color: black;
    /* color: #FFFFFF; */
}

.free {
    color: #bbb;
}