/* 
 File: nav.css
 Created Date: Friday August 26th 2022
 -----
 Author: Hetp
 Contact me: hetp0409@icloud.com
*/ 

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Regular.otf') format('Opentype');
    font-style: normal;
    font-weight: 400;
}

/* Navigation Bar */

.nav {
    display: flex;
    justify-content: space-between 5px;
    list-style: none;
    /* background-color:#2A2E35; */
    background-color: rgba(49, 167, 196, 0.842);
    height: 30px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

nav.nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-left: 20px;
}

.nav-bar {
    color: white;
    text-decoration: none;
    display: flex;
    padding-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

header.header {
    display: flex;
    align-items: center;
    font-family: SF Pro Display;
}