@font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/Hetp05/Personal-Asserts/blob/main/SF-Mono-Reguler.otf) format('otf');
}

body {
    padding-top: 30px;
}

.sitemap-link {
    /* padding-left: 50%;
    padding-right: 50%; */
    font-family: 'SF Mono';
    color: #06c;
}

strong {
    color: black;
}

code {
    font-family: 'SF Mono';
    color: black;
}

hr.solid {
    border-top: 3px solid #bbb;
}