/* 
 File: sitemap.css
 Created Date: Friday August 26th 2022
 -----
 Author: Hetp
 Contact me: hetp0409@icloud.com
*/ 

@font-face {
    font-family: 'SF Mono';
    src: url('fonts/SF-Mono-Regular.otf') format('OpenType');
    font-style: normal;
    font-weight: 400;
}

body {
    padding-top: 30px;
}

.sitemap-link {
    /* padding-left: 50%;
    padding-right: 50%; */
    font-family: 'SF Mono';
    color: #06c;
}

strong {
    color: black;
}

code {
    font-family: 'SF Mono';
    color: black;
}

hr.solid {
    border-top: 3px solid #bbb;
}